body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: #f0f8ff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.row-bigHeight {
    height:40px;
}
.row-default {

}
.row-unfinished {
    color: #bfbfbf;
    background-color: red;
}
.row-cancelled {
    color: gray;
}
.row-pit {
    color: gray;
    background-color: cornflowerblue;
}

.icon-up {
    background-image: url(/img/green-arrow-up-16.png);
    background-repeat: no-repeat;
}
.icon-down {
    background-image: url(/img/red-arrow-down-16.png);
    background-repeat: no-repeat;
}
/*Bootstrap Carousel, invert white for black color*/
.carousel-control-next,
.carousel-control-prev , .carousel-indicators, .carousel-caption {
    filter: invert(100%);
}
.carousel-control-prev-icon {
    width: 65px;
    height: 65px;
}

.carousel-control-next-icon {
    width: 65px;
    height: 65px;
}
.badge {
    font-size: 100%;
}

.badge-Moto2 {
    background-color: limegreen;
    color: white;
    
}
.badge-Moto3 {
    background-color: darkseagreen;
    color: white;
}
.badge-MotoGP {
    background-color: green;
    color: white;
}
.badge-Race {
    background-color: indigo;
    color: white;
}
.badge-WUP {
    background-color: mediumpurple;
    color: white;
}
.badge-Q1 {
    background-color: coral;
    color: white;
}
.badge-Q2 {
    background-color: darkorange;
    color: white;
}
.badge-FP4 {
    background-color: dodgerblue;
    color: white;
}
.badge-FP3 {
    background-color: cornflowerblue;
    color: white;
}
.badge-FP2 {
    background-color: lightskyblue;
    color: white;
}
.badge-FP1 {
    background-color: lightblue;
    color: black;
}