@{
    ViewBag.Title = "Replay Race";
}
<h2>@ViewBag.Title.</h2><div class="flourish-embed" data-src="story/663891">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
</div>
