<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>CxnehA2NRgmlLpayqinSuDpnpGYCLyUoE4PD7HBsbdSvgpjT1WhDqv9iaiBIk84+J2ZbnCqyLNYWTavf/Hz2aepPMGvykXoj+suRfgcz24DGOhbRkQ17dYz+GjTgPnLyB4xeJb10Bi17PUCAfqC6TrnxdnOv1zy4RJoR/y/QjjHHguaQDax8BdqdP5Yfr65LDiGD/CvSOwynIfLc1sB+XuKjzgihSXphf64cwz4v0NuPff8Ee+U/Qm0TA+EjcAzvtpzb7onZmY5s2475+YZuRBWhiMiq39mPjIfJBGkSUaj8Vy/G9m5czcVYOjSW0VLGe+lAeDh7JqjgUiDZSJlvHw==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>zYgvu6rmr6P4cAIGzdh3skACrJiZrd1c5TUJurPeqXdRoSzXd6d3sl9O3zqiKP2rGKQOK3UwslR1KHlk2PRsJIhTKhYjtaGfAm/EQrZRWB20oWE1XvWYSZpL4uAH+X7JVtmVIxsk/tqeepmGwmCFv5I7EeFcod91eEgabJtZ3KaYxWUQTk1kcS6LSX8UgjICilmz8KnhEz50bOiWD050DOB3v4g7R+zN4HcnqhcQlpCKdhwY3uO9D5p/TzMcml0s3gYloHaSesaiR6tyqMKbdt61e8VVhTnHh5Y6TjGKEaZKFxcCfW6dnSoYFNvXzb2t64os4VTlvbnU/OQxIskqlS9HPcCd/dkgY1yETjepXMat2rk+5e4iNIr0XeBoMFttEKcO+KxcPMlav7UtNflH6A==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>